@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
/* @import "https://unpkg.com/transition-style"; */
@import 'https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css';


h1, h2, h3, h4, h5, p {
    max-inline-size: var(--size-content-3);
}

header, main, footer {
    margin: auto;
    max-width: 100vw;
}


.content-wrap {
    padding: 0 var(--size-3);
    overflow-x: hidden;
}

a {
    overflow-wrap: break-word;
}


.u-flow > * + * {
  margin-bottom: var(--size-3);
}

header {
    padding-top: var(--size-5);
}

footer {
    padding-bottom: var(--size-5);
}

main {
    max-inline-size: var(--size-content-8);
}

.layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: stretch;
}

.mdx-embed, .code-embed {
    max-width: calc(100vw - var(--size-2));
    overflow: hidden;
}

.code-embed .code-block {
    overflow: auto;
}

ul {
    padding-inline-start: var(--size-2);
}

.nav {
    display: grid;
    grid-gap: var(--size-2);
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    justify-content: center;
    padding-bottom: var(--size-2);

}

a[aria-current="page"] {
    color: var(--yellow-5);
}

.PostsIndex {
    display: grid;
    grid-gap: var(--size-4);
    padding: var(--size-2);
}

h2 > a {
    text-underline-offset: 5px;
}

.code-block {
    padding: var(--size-2);
}

.text--secondary {
    color: var(--indigo-5);
}

.flex {
    display: flex
}

.flex-justify {
    justify-content: space-between;
}