header {
    border: none;
}

.footer {
    display: grid;
    gap: 1rem;
}
@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
        line-height: 1.15;
    }

    .footer {
        display: flex;
    }
}