name: Publish on GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Setup Deno environment
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Build site
        run: |
          deno task build --location=https://hudak.codes
      - name: DeployDeploy to GitHub Pages
        if: success()
        # https://github.com/peaceiris/actions-gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          cname: hudak.codes
          publish_dir: _site
          github_token: ${{ secrets.GITHUB_TOKEN }}
          keep_files: true
